/* Root Start */
:root{
    --headerColor: #194fa5;
    --headerH1Color: #e5e5e5;
    --bodyColor: #e5e5e5;
    --footerColor: #333333;
    --navColor: #C6C6C6;
    --navHoverColor: #9C9C9C;
    --navHoverUnderlineColor: #f1f1f1;
    --fontColor: #2c2c2c;
    --cardColor: #a9c8f9;
    --collapsibleColor: #8ab7ff;
}
/* Root End */
/* Html Start */
html{
    width: 100%;
    height: 100%;
    color: var(--fontColor);
    background-color: var(--bodyColor);
    font-size: 16px;
    font-family: "Open Sans", cursive;
}
/* Html End */
/* Body Start */
body{
    display: block;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
}
/* Body End */
/* Header Start */
header{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: var(--headerColor);
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
header h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lobster', cursive;
    margin: 0;
    font-size: 3em;
    padding: 0px;
    height: 100%;
    width: 100%;
    color: var(--headerH1Color);
}
/* Header End */
/* Nav Start */
nav{
    width: 100%;
    height: 5%;
    background-color: var(--navColor);
}
nav .navList{
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
    margin: 0;
    height: 100%;
    justify-content: flex-start;
    justify-items: baseline;
}
nav a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--fontColor);
    justify-content: center;
    padding: 5px;
    transition: all ease 0.3s;
    
}
nav a:hover{
    background-color: var(--navHoverColor);
    color: var(--navHoverUnderlineColor);
}
nav li{
    display: inline;
    text-align: center;
    font-size: 1.2em;
}
nav li::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--navHoverUnderlineColor);
    transition: width 0.3s;
}
nav a:hover li::after{
    width: 100%;
}
/* Nav End */
/* Main Start */
main{
    width: 100%;
    height: 75%;
    background-color: var(--bodyColor);
}

main .column{
    box-sizing: border-box;
    float: left;
    padding: 10px;
}
main .main{
    width: 75%;
}
main .side{
    width: 25%;
}
.collapsible{
    background-color: var(--cardColor);
    outline: none;
    width: 100%;
    margin: 10px 0 0 0;
    border: none;
    transition: all 0.3s;
    padding: 5px;
}
.collapsiblePrompt{
    background-color: var(--collapsibleColor);
    padding: 5px;
    transition: all 0.3s ease;
}
.collapsiblePrompt:hover{
    color: white;
}
.content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    background-color: var(--cardColor);
    transition: max-height 0.5s ease;
  }
.content p{
    padding: 5px;
}
.main-card, .side-card{
    background-color: var(--cardColor);
    box-sizing: border-box;
    border-radius: 3px;
}
.main-card *, .side-card *{
    
}
.main-card p, .side-card p{
    margin: 0;
}
.main-card .title, .side-card .title{
    margin-top: 0;
    padding-top: 5px;
    padding-inline-start: 15px;
}
main .row:after {
    content: "";
    display: table;
    clear: both;
}
/* Main End */
/* Footer Start */
footer{
    width: 100%;
    height: 10%;
    background-color: var(--footerColor);
}
/* Footer End */
/* Media Queries Start */
@media screen and (max-width: 700px){
    main .main{
        width: 100%;
    }
    main .side{
        width: 100%;
    }
}
/* Media Queries End */